In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('telecom_churn_data_New.csv')

In [3]:
data.head()

,State,Account Length,Area Code,Phone,International Plan,Vmail Plan,Vmail Messege,Day Min,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Min,Night Calls,Night Charge,Int Min,Int Calls,Int Charge,CustServe Call,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [4]:
data.shape

(4617, 21)

In [5]:
data.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'International Plan',
       'Vmail Plan', 'Vmail Messege', 'Day Min', 'Day Calls', 'Day Charge',
       'Eve Min', 'Eve Calls', 'Eve Charge', 'Night Min', 'Night Calls',
       'Night Charge', 'Int Min', 'Int Calls', 'Int Charge', 'CustServe Call',
       'Churn'],
      dtype='object')

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
data.columns=['State', 'AccountLength', 'AreaCode', 'Phone', 'InternationalPlan',
       'VmailPlan', 'VmailMessege', 'DayMin', 'DayCalls', 'DayCharge',
       'EveMin', 'EveCalls', 'EveCharge', 'NightMin', 'NightCalls',
       'NightCharge', 'IntMin', 'IntCalls', 'IntCharge', 'CustServeCall','Churn']

In [11]:
data.InternationalPlan=le.fit_transform(data.InternationalPlan)
data.VmailPlan=le.fit_transform(data.VmailPlan)

In [12]:
X=data.loc[:,['AccountLength', 'InternationalPlan',
       'VmailPlan', 'DayCharge',
       'EveCharge',
       'NightCharge', 'IntCharge', 'CustServeCall']]

In [13]:
y=data.Churn

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,stratify=data.Churn,random_state=70) #rs70

In [15]:
rf=RandomForestClassifier(random_state=42,n_estimators=15)

In [16]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [17]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [18]:
y1=rf.predict(X_test)

In [19]:
print(accuracy_score(y_test,y1))

0.935930735930736

In [20]:
pd.crosstab(y_test,y1)

col_0     False.   True.
Churn
 False.      976      15
 True.        59     105

In [21]:
print(classification_report(y_test,y1))

             precision    recall  f1-score   support

     False.       0.94      0.98      0.96       991
      True.       0.88      0.64      0.74       164

avg / total       0.93      0.94      0.93      1155

In [24]:
from sklearn.metrics import roc_auc_score,roc_curve

In [25]:
roc_curve(y_test,y1)

ValueError: Data is not binary and pos_label is not specified